/* Agrégalo a tu style.css */
.placa-img {
    width: 1200px !important; /* NO CAMBIES ESTE NÚMERO */
    height: auto;
    display: block;
    margin: 0 auto;
    /* Esto ayuda a que el mapa no se mueva */
    max-width: none !important; 
}
